auth_enabled: false
server:
  http_listen_port: 3100
  grpc_listen_port: 9095
  log_level: info

compactor:
  working_directory: /tmp/loki/compactor

schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

storage_config:
  boltdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/cache
    shared_store: filesystem
  filesystem:
    directory: /loki/chunks

limits_config:
  enforce_metric_name: false

chunk_store_config:
  max_look_back_period: 0s

table_manager:
  retention_deletes_enabled: true
  retention_period: 336h

common:
  ring:
    kvstore:
      store: consul
      consul:
        host: "consul:8500"
