http:
  routers:

    root-redirect:
      rule: "Path(`/`)"
      service: engine-dev@docker
      entryPoints:
        - web
        - websecure
      tls: {}
      middlewares:
        - redirect-to-api

    dashboard:
      rule: "Host(`traefik.localhost`)"
      service: api@internal
      entryPoints:
        - web
        - websecure
      tls: {}


  middlewares:
    redirect-to-api:
      redirectRegex:
        regex: "^https?://[^/]+/$"
        replacement: "/api/v1"
        permanent: false
