log:
  level: INFO

# accessLog: {}

api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: abada-internal
  file:
    filename: /etc/traefik/dynamic.yml
    watch: true

ping:
  entryPoint: traefik

certificatesResolvers:
  letsencrypt:
    acme:
      email: admin@abada.dev
      storage: /etc/traefik/acme.json
      httpChallenge:
        entryPoint: web

metrics:
  prometheus:
    addEntryPointsLabels: true
    addServicesLabels: true
    addRoutersLabels: true

# tracing:
#   otlp:
#     grpc:
#       endpoint: otel-collector:4317
#     http:
#       endpoint: http://otel-collector:4318/v1/traces
